/* GLOBAL */
body {
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%);
}

header {
    background-image: url('../img/cover02.jpg');
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%), url('../img/cover02.jpg');
    padding: 60px 60px 100px 60px;
    background-size: cover;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-image: url('../img/cover002.jpg');
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%), url('../img/cover002.jpg');
    padding: 60px 60px 100px 60px;
    background-size: cover;
}

.btn-icon {
    color: #000050;
}

.btn-icon:hover {
    color: #0dcaf0;
}

.bg-dark {
    border-radius: 100px;
    background-color: #000;
}

.bg-primary {
    background: #304070 !important;
}

.bg-secondary {
    background: #343a40 !important;;
}

.bg-danger {
    background: #703040 !important;;
}

.text-white {
    color:#fff !important;
}

.text-danger {
    color: #904040 !important;
}

.card-body {
    text-align: center;
    align-content: center;
}








/* HOME */
.card-tip i {
    font-size: 40px;
    color: #0dcaf0;
}

.bg-black__radius {
    background: #000;
    border-radius: 100px;
}

.table-hover, .calendario-geral {
    background: #000 !important;
    color:#fff !important;
    margin: auto;
    font-size: 20px;
    width: 50%;
    height: 50%;
}

.calendario-geral {
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-cursos {
    color: #0dcaf0;
}

.table-hover__table {
    padding-bottom: 30px !important;
}

.table-hover__cursos {
    padding-left: 30px !important;
}






/* ADMIN */

/* EVENTO */

/* CALENDÁRIO */




























div.container-fixed {
    margin-right: 500px;
    margin-left: 500px;
}

.btn-button {
    background: #000050;
    border: solid 2px #f8f9fa;
    border-radius: 5px;
    color: #f8f9fa;
}

.btn-button:hover {
    background: linear-gradient(to top, #000050, #0dcaf0);
    color: #fff;
}

/* Container */
.container-personalizado {
    background-color: #000;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 700px;
}

.diaSemana, .evento__diaSemana {
    border: solid 5px #343a40;
    font-style: italic;
    color: #0dcaf0;
}

.evento__diaSemana {
    background: #212529;
    border: solid 1px #c0c0c0;

}

.diaSemana, .header-calendar {
    font-family: Cochin;
    font-size: 20px;
    color: #c0c0c0;
    background: #212529;
    text-align: center;
}

.mesReferencia {
    color: #000;
    text-align: center;
}

.submit-evento {
    color: #00ff00;
}

.submit-evento:hover, .clean-evento:hover {
    color: #fff;
}

.clean-evento {
    color: #ff0000;
}

/********************************** CSS ADMIN.handlebars **********************************/
.button-navbar {
    max-height: 25px;
}


/* Container Título */
.nomeApp {
    margin-top: 5px;
    padding: 30px;
    font-family: Cochin;
    font-style: italic;
    color: white;
    max-width: 700px;
}

.borderLogin {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    align-items: center;
    margin: 50px auto 20px auto;
}

.imgUser {
    max-width: auto;
    max-height: 70px;
    align-items: center;
}

/* Container Formulário */

.form {
    padding: 20px 10px;
    max-width: 700px;
}

div.form-group {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button-admin {
    min-width: 5rem;
    margin-top: 20px;
}

/**************************************** CSS EVENTOS ****************************************/
.margin-top {
    margin-top: 30px;
}

.width-button {
    min-width: 5rem;
}

.card-header-evento {
    color: #fff;
    font-size: 14px;
    font-family: 'Geneva';
    width: 80%;
    margin: 50px auto;
}

.form-evento {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 300px;
    max-height: 400px;
}

.labelData, .labelDescricao {
    display: block;
}

.labelDescricao {
    margin-top: 10px;
}

#descricao {
    max-height: 70px;
}
/**************************************** CSS CALENDÁRIO ****************************************/
/* Form Header */
.card-header-personalizado {
    color: #fff;
    background-image: linear-gradient(to top, #000030, #307090);
    font-size: 30px;
    font-family: 'Geneva';
    margin-top: auto;
    margin-bottom: auto;
}

.header-calendar {
    margin-top: 30px;
}

.card-header-calendar, .header-calendar {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: 'Geneva';
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header-calendar {
    padding: 0.5rem;
}

.icon-navegacao-mes {
    margin: 10px auto;
}

.mes {
    color: #fff;
    text-decoration-line: none;
    padding: 0 3rem;
    font-size: 24px;
    align-items: center;
}

.mes:hover {
    color: #0dcaf0;
    text-decoration-line: underline;
    
}

.mes.ativo {
    color: #0dcaf0;
    background: #343a40;
    border-bottom: 2px solid #0dcaf0;
}

.card-layout {
    margin: 5px 2px !important;
    text-align: center;
}





.card-header {
    font-weight: bolder;
    font-size: 14px;
}

.card-title {
    font-size: 12px;
    font-variant: small-caps;
}

.card-text {
    font-size: 12px;
}

.login-admin {
    margin: 10px 0 5px 10px;
}



header i {
    font-size: 90px;
    margin-right: 20px;
}



footer i {
    font-size: 40px;
    margin-top: 10px;
}









.tabela-etec {
    padding: 50px;
}














@media screen and (max-width: 960px) {
    .fixed-bottom {
        position: relative;
    }
}

.cores {
    --bs-cyan: #0dcaf0;
    --bs-blue: #0d6efd;
    --bs-blue-dark: #000050;

    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;

    --bs-white: #fff;
    --bs-light: #f8f9fa;
    
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;

    --bs-dark: #212529;
    --darkered: #000;
}