/* GLOBAL */
div.container-fixed {
    margin-right: 500px;
    margin-left: 500px;
}

.btn-button {
    background: #000050;
    border: solid 2px #f8f9fa;
    border-radius: 5px;
    color: #f8f9fa;
}

.btn-button:hover {
    background: linear-gradient(to top, #000050, #0dcaf0);
    color: #fff;
}

/* Container */
.container-personalizado {
    background-color: #000;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 700px;
}

.diaSemana {
    border: solid 5px #343a40;
    font-style: italic;
}

.diaSemana, .header-calendar {
    font-family: Cochin;
    font-size: 20px;
    color: #c0c0c0;
    background: #212529;
    text-align: center;
}

.mesReferencia {
    color: #000;
    text-align: center;
}

.submit-evento {
    color: #00ff00;
}

.submit-evento:hover, .clean-evento:hover {
    color: #fff;
}

.clean-evento {
    color: #ff0000;
}

/********************************** CSS ADMIN.handlebars **********************************/
.button-navbar {
    max-height: 25px;
}


/* Container Título */
.nomeApp {
    margin-top: 5px;
    padding: 30px;
    font-family: Cochin;
    font-style: italic;
    color: white;
    max-width: 700px;
}

.borderLogin {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    align-items: center;
    margin: 50px auto 20px auto;
}

.imgUser {
    max-width: auto;
    max-height: 70px;
    align-items: center;
}

/* Container Formulário */

.form {
    padding: 20px 10px;
    max-width: 700px;
}

div.form-group {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button-admin {
    min-width: 5rem;
    margin-top: 20px;
}

/**************************************** CSS EVENTOS ****************************************/
.margin-top {
    margin-top: 30px;
}

.width-button {
    min-width: 5rem;
}

.card-header-evento {
    color: #fff;
    font-size: 14px;
    font-family: 'Geneva';
    width: 80%;
    margin: 50px auto;
}

.form-evento {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 300px;
    max-height: 400px;
}

.labelData, .labelDescricao {
    display: block;
}

.labelDescricao {
    margin-top: 10px;
}

#descricao {
    max-height: 70px;
}
/**************************************** CSS CALENDÁRIO ****************************************/
/* Form Header */
.card-header-personalizado {
    color: #fff;
    background-image: linear-gradient(to top, #000030, #307090);
    font-size: 30px;
    font-family: 'Geneva';
    margin-top: auto;
    margin-bottom: auto;
}

.header-calendar {
    margin-top: 30px;
}

.card-header-calendar, .header-calendar {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: 'Geneva';
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header-calendar {
    padding: 0.5rem;
}

.mes {
    color: #fff;
    text-decoration-line: none;
    padding: 0 3rem;
    font-size: 24px;
    align-items: center;
}

.mes:hover {
    color: #0dcaf0;
    text-decoration-line: underline;
}

.mes:active {
    background: #343a40;
}

.card-layout {
    margin: 5px 2px !important;
    text-align: center;
}

.text-white {
    color:#fff !important;
}

.text-danger {
    color: #904040 !important;
}

.bg-primary {
    background: #000030 !important;
}

.bg-secondary {
    background: #343a40 !important;;
}

.bg-danger {
    background: #300000 !important;;
}

.bg-black {
    background: #000;
}

.card-header {
    font-weight: bolder;
    font-size: 14px;
}

.card-title {
    font-size: 12px;
    font-variant: small-caps;
}

.card-text {
    font-size: 10px;
}

.login-admin {
    margin: 10px 0 5px 10px;
}