header {
    background-image: url('../img/cover02.jpg');
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%), url('../img/cover02.jpg');
    padding: 60px 60px 100px 60px;
    background-size: cover;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header i {
    font-size: 90px;
    margin-right: 20px;
}

footer {
    background-image: url('../img/cover002.jpg');
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%), url('../img/cover002.jpg');
    padding: 60px 60px 100px 60px;
    background-size: cover;
}

footer i {
    font-size: 40px;
    margin-top: 10px;
}

.bg-dark {
    border-radius: 100px;
    background-color: #000;
}

.card-tip i {
    font-size: 40px;
}

.card-body {
    text-align: center;
    align-content: center;
}

.tabela-cursos {
    margin: auto;
    font-size: 20px;
    width: 35%;
    height: 50%;
}

.tabela-etec {
    padding: 50px;
}

body {
    background-color: rgba(0, 147, 233, 0.7) #0093E9;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%);
}

.user-lock, .home {
    color: #000050;
}

.user-lock:hover {
    color: #0dcaf0;
}

.fa-exclamation {
    color: #0dcaf0;
}

.black-border {
    background: #000;
    border-radius: 100px;
}

.table-dark {
    background-color: #000 !important;
    color: #fff !important;
}

.link-cursos {
    color: #0dcaf0;
}

.descricao{
    color: #fff;
}

@media screen and (max-width: 960px) {
    .fixed-bottom {
        position: relative;
    }
}

.cores {
    --bs-cyan: #0dcaf0;
    --bs-blue: #0d6efd;
    --bs-blue-dark: #000050;

    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;

    --bs-white: #fff;
    --bs-light: #f8f9fa;
    
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;

    --bs-dark: #212529;
    --darkered: #000;
}